<div class="main">
TODO uncomment
<!--  <div>
    <h3>Value list</h3>
    <ng-combo [valueList]="valueList" [(selected)]="selected1" (onSelectedItemSingle)="onSelectedItem($event)"> </ng-combo>
    <div><label>Selected object:</label> {{selected1 | json}}</div>
  </div>-->

  <div>
    <h3>Value list - with pre-selected value</h3>
    <ng-combo [valueList]="valueList" [selected]="selected2" (onSelectedSingle)="onSelectedCode($event)"> </ng-combo>
    <div><label>Selected code:</label> {{selected2}}</div>
  </div>

  <div>
    <h3>Value list + lazy load</h3>
    <ng-combo [valueListLoader]="onValueListFetch"></ng-combo>
  </div>

  <div>
    <h3>Value list + searchable</h3>
    <ng-combo [valueListLoader]="onValueListFetch" [searchable]="true"></ng-combo>
  </div>

  <div>
    <h3>Value list + search - with cached search</h3>
    <ng-combo [valueListLoader]="onValueListFetch" [cached]="true" [searchable]="true"></ng-combo>
  </div>

  <div>
    <h3>Custom dropdown</h3>
    <ng-combo [valueList]="valueList">
      <ng-template ng-combo-dropdown-item let-item>
        <div class="di-custom-wrapper">
          <div>{{ item.code }}</div>
          <div>{{ item.label }}</div>
        </div>
      </ng-template>
    </ng-combo>
  </div>

</div>


<div style="border: 2px solid black; position: fixed; right: 0; top: 0;background-color: antiquewhite">
  <h3>Value list - in fixed position</h3>
  <ng-combo [valueList]="valueList"> </ng-combo>
</div>

<p style="height: 100vh">
  PADDING
</p>
